/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.facet_filters .close_bar .close,
.facet_filters .close_bar .close i {
    color: #000!important;
}

.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img {
    min-height: 230px !important;
}

.fl-node-5da44f652b690 .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox input[type='checkbox']+label:before {
    border-radius: 0px!important;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}

.searchIcon .ua-icon-search {
    cursor: pointer;
    font-size: 22px;
    vertical-align: bottom;
}

.fl-module-icon .fl-module-content .fl-icon i:before {
    font-size: 22px !important;
}

header .phone>a {
    color: #cc222a;
}

ul.gfield_checkbox li a:hover {
    color: #dc6e6e;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}

.footer-contact-us-sec .fl-icon {
    width: 20px;
}

.phone>a {
    font-weight: 400;
    color: #373737;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.slick-track {
    display: flex;
    align-items: center;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.inspiration-gallery-sec .fl-module-content .fl-rich-text *:focus,
.inspiration-gallery-sec .fl-module-content .fl-rich-text *:active,
.inspiration-gallery-sec .fl-module-content .fl-rich-text p a:focus,
.inspiration-gallery-sec .fl-module-content .fl-rich-text p a:active {
    color: #CC222A;
}

.air-miles-form #field_16_1,
.air-miles-form .gform_wrapper .top_label li.gfield.gf_left_half#field_16_2,
#gform_wrapper_22 #field_22_7 div input#input_22_7,
#gform_wrapper_19 ul li#field_19_2 {
    width: 100%;
    padding-right: 0;
}

#gform_wrapper_22 #field_22_2,
#gform_wrapper_22 #field_22_7,
#gform_wrapper_23 #field_23_2,
#gform_wrapper_23 #field_23_4,
#gform_wrapper_16 #field_16_2 {
    padding-right: 0;
}

#gform_wrapper_22 #field_22_8 .ginput_container_time {
    margin-right: 20px;
}

#gform_wrapper_22 #field_22_8 .ginput_container_time input {
    padding: 5px;
    min-width: 50px;
    height: 52px;
}

#gform_wrapper_22 .gform_footer #gform_submit_button_22 {
    width: 100%;
    height: 52px;
    border-radius: 5px;
}

#gform_wrapper_22 #field_22_8 .ginput_container_time select {
    padding: 5px;
    min-width: 80px;
    height: 52px;
}

#gform_wrapper_22 .gchoice_22_11_1,
#gform_wrapper_23 .gchoice_23_11_1,
#gform_wrapper_16 .gchoice_16_7_1,
#gform_wrapper_19 .gchoice_19_5_1,
#gform_wrapper_19 .gchoice_19_10_1 {
    position: relative;
    padding-left: 20px !important;
}

#gform_wrapper_22 .gchoice_22_11_1 input,
#gform_wrapper_23 .gchoice_23_11_1 input,
#gform_wrapper_16 .gchoice_16_7_1 input,
#gform_wrapper_19 .gchoice_19_5_1 input,
#gform_wrapper_19 .gchoice_19_10_1 input {
    position: absolute;
    top: -3px;
    left: 0;
}

.air-miles-form #gform_submit_button_16,
#gform_wrapper_23 .gform_footer input,
#gform_wrapper_16 .gform_footer input,
#gform_wrapper_19 .gform_footer input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

nav ul#menu-copyright-bar-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul.social-icons {
    text-align: center;
}

footer#djcustom-footer .copyright-sec .fl-module-content .fl-rich-text p,
footer#djcustom-footer .copyright-sec ul#menu-copyright-bar-menu li a {
    font-size: 12px;
}

.fl-row-content .fl-col-content .uabb-testimonials .uabb-testimonial-info .uabb-testimonial-author-description {
    font-family: 'Vollkorn', serif;
}

ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-top: 10px;
}

table.widefat.striped,
table.widefat.striped td {
    border: 0;
}

#menu-gallery-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-phone-no,
.header-phone-no~.top-bar-menu {
    float: right;
}

.header-phone-no~.fl-module-separator {
    clear: both;
}

.header-phone-no .fl-rich-text p {
    margin: 0;
}

.header-phone-no .fl-rich-text p a {
    line-height: 1.9;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -4px!important;
    margin-right: -8px!important;
}

a.finance-btn {
    display: none !important;
}

.location-phone-no .fl-icon-text .storename .phone a {
    color: #373737;
    font-weight: bold;
}

.location-phone-no:hover .fl-icon-text .storename .phone a,
.location-address:hover .store-container .address a,
.header-phone-no:hover .storename .phone,
.header-phone-no:hover .storename .phone a,
ul.gfield_checkbox li a,
.fl-page-header-fixed .fl-page-nav-right.fl-page-header-fixed ul.navbar-nav li>a:hover,
.fl-page-header-fixed ul.navbar-nav li>a:hover {
    color: #cc222a !important;
}

.location-phone-no:hover .fl-module-content .fl-icon i,
.location-phone-no:hover .fl-module-content .fl-icon a i {
    color: #cc222a;
    background: #ffff;
}

header .storename {
    margin: 5px 0 0 0;
}

.phone-no-sec {
    display: flex;
}

.phone-no-sec .storename {
    margin-left: 5px;
}

header .storename .phone a span:before {
    content: "\f1f8";
    display: inline-block;
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.fl-page-nav-right.fl-page-header-fixed,
.fl-page-header-fixed,
.fl-page-nav-right.fl-page-header-fixed .fl-page-nav ul.sub-menu,
.fl-page-header-fixed .fl-page-nav ul.sub-menu {
    background: #fff !important;
}

.fl-page-header-fixed .fl-page-nav-right.fl-page-header-fixed ul.navbar-nav li>a,
.fl-page-header-fixed ul.navbar-nav li>a {
    color: #373737 !important;
}

.fl-post .fl-post-image-beside {
    width: 100%;
}

.wpsisac-slick-carousal.design-6 .slick-prev {
    left: -40px !important;
}

.wpsisac-slick-carousal.design-6 .slick-next {
    right: -40px !important;
}

@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    header#djcustom-header,
    .fl-page-bar {
        display: none !important;
    }
    .fl-page-header-fixed .fl-page-fixed-nav-wrap {
        visibility: hidden;
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
    .fl-page-header-fixed .fl-logo-img {
        max-height: 90px !important;
    }
    .fl-page-nav-right .fl-page-header-logo {
        padding: 0 20px;
    }
    .fl-page-header-fixed {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
    .copyright-sec .fl-row-content-wrap .fl-col-group {
        flex-direction: column;
        align-items: center;
    }
    #responsive-menu-additional-content .storename li .phone a:before {
        content: "\f095" !important;
        color: #fff;
        font: normal normal normal 18px/1 FontAwesome;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-right: 10px !important;
        vertical-align: middle;
    }
    #responsive-menu-container #responsive-menu-search-box,
    #responsive-menu-container #responsive-menu-additional-content {
        padding: 10px 5% !important;
    }
    #responsive-menu-additional-content .storename li .phone a {
        color: #fff;
    }
    /* #breadcrumbs{
        margin-top: 120px;
    } */
    .fl-page-nav-right.fl-page-header-fixed,
    .fl-page-header-fixed {
        position: static !important;
    }
}

@media(min-width:992px) and (max-width:1100px) {
    .style-product_list .pro-container>.row>.col-md-7 {
        flex: 0 0 57.33333%;
        width: 57.33333%;
    }
    .style-product_list .pro-container>.row>.col-md-5 {
        flex: 0 0 41.6666%;
        width: 41.6666%;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        min-width: auto;
        width: auto;
    }
}

@media(min-width:993px) and (max-width:1024px) {
    .copyright-sec .fl-col-group .fl-col-small {
        width: 500px;
        text-align: center;
    }
    nav ul#menu-copyright-bar-menu {
        width: 430px;
        text-align: center;
        justify-content: space-between;
    }
    .fl-node-5d38553a20d01>.fl-col-content {
        margin-top: 8px;
    }
    .fl-builder-content .fl-node-5d38553a20d01>.fl-col-content {
        min-height: 299px;
    }
}

@media(max-width:992px) {
    .fl-col-group div.fl-visible-mobile.fl-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        padding-right: 20px;
    }
    .fl-rich-text button#responsive-menu-button {
        margin-left: 20px;
    }
    .headerMain .phone.retailer span {
        font-size: 0;
    }
    .fl-col-group div.fl-visible-desktop-medium.fl-col {
        display: none;
    }
    .headerMain #responsive-menu-additional-content .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain #responsive-menu-additional-content .phone.retailer {
        font-size: 18px;
        color: #CC222A;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    #responsive-menu-additional-content {
        padding: 0 10px 10px !important;
    }
    #responsive-menu-additional-content a span {
        font-size: 13px;
        color: #fff;
        vertical-align: top;
        margin-left: 3px;
    }
    .responsive-menu-accessible.is-active {
        position: fixed!important;
    }
}

@media(max-width:768px) {
    button#responsive-menu-button {
        top: 30px!important;
    }
    /* #breadcrumbs{
        margin-top: 106px;
    } */
    .searchIcon {
        position: static;
    }
    .max-width-issue {
        max-width: 400px !important;
        margin: 0 auto !important;
    }
    /* .fl-col-small:not(.fl-col-small-full-width) {
        max-width: 450px;
        margin: 0px auto;
    } */
    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .headerLogo {
        flex: 2;
    }
    .iPadFooter .fl-col-group {
        display: flex;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .coretec-sec .fl-col-group .fl-col-small {
        max-width: 400px;
        margin-bottom: 20px;
    }
    .fl-builder-content .fl-module-content-slider.header-silder-sec .fl-slide .fl-slide-content {
        padding-bottom: 0;
        display: none;
    }
    .all-product-sec.fl-col-small {
        max-width: 400px;
    }
    .all-product-sec.fl-col-small .fl-module-interactive-banner-2 {
        margin-bottom: 20px;
    }
    button.fl-menu-mobile-toggle.hamburger {
        background: #373737;
        color: #fff;
    }
    #menu-gallery-menu {
        display: block;
        text-align: center;
    }
    .fl-page-header-logo {
        text-align: left;
    }
    .fl-page-header-fixed .fl-page-fixed-nav-wrap {
        display: none;
    }
    .wpsisac-slick-carousal.design-6 .slick-prev {
        left: -20px !important;
    }
    .wpsisac-slick-carousal.design-6 .slick-next {
        right: -20px !important;
    }
    .footer-contact-us-sec .fl-module-content.fl-node-content {
        text-align: left;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text>p {
        margin-bottom: 0;
    }
}

@media(max-width:600px) {
    .headerMain .fl-row-content-wrap .fl-node-5d08ac826d1d2 {
        width: 45%!important;
    }
    .wpsisac-slick-carousal.design-6 .slick-image-slide img {
        width: 70%!important;
        height: auto!important;
    }
    .post-349396 .location-address .storename,
    .location-phone-no .fl-module-content,
    .btn-white .fl-module-content .fl-button-wrap {
        max-width: 100%;
        text-align: center;
    }
    .post-349396 .storename {
        margin: 0 auto;
    }
}

@media(max-width:480px) {
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button {
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev {
        left: 20px;
    }
    .iPadFooter .fl-col-group {
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu {
        justify-content: center;
    }
    #menu-flooring-menu,
    #menu-inspiration-menu,
    #menu-about-us,
    .footer-contact-us-sec .fl-module .fl-module-content {
        text-align: left;
    }
    .uabb-photo-gallery .uabb-photo-gallery-item,
    .uabb-masonary-content .uabb-masonary-item {
        width: 100%;
    }
    .bx-wrapper .bx-pager {
        bottom: -45px;
    }
    #gform_wrapper_16 .gchoice_16_7_1 {
        padding-left: 0px !important;
    }
    .fl-module-uabb-gravity-form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox input[type='checkbox']+label:before {
        margin-bottom: 5px;
    }
}